page-view-map {

    .mapStyle {
        height: 100%;
        width: 100%;
        position: relative;
      }

      .backIcon {
        font-size: 32px;
        color: white;
      }

      
  .title {
    color: white;
    font-weight: 300;
    font-size: 22px;
    margin-top: 3px;
    margin-left: 7px;
  }
    
}
