page-verify-no {
  .contain {
    background: rgba(10, 10, 10, 0.73);
    height: 100%;
    width: 100%;
  }
  .txt1 {
    text-align: center;
    color: white;
    font-size: 38px;
    font-weight: 200;
    margin-bottom: 0;
  }
  .txt2 {
    text-align: center;
    color: white;
    font-size: 32px;
    margin-top: 0;
  }
  .txt3{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 200;
  }
  .nxt_btn{
    background-color: #0a6cc8;
    width: 120px;
    height: 4.6rem;
  }
  
  .icon-btn {
    font-size: 8vw;
    color: white;
    background-color: transparent;
  }
  .flp div {
    position: relative;
    margin-top: 37px
  }

  .flp input {
    width: 80%;
    display: block;
    font: inherit;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    height: 46px;
    border: 0px solid #999;
    background: rgba(255, 255, 255, 0.26);
    color: white;
    margin-left: auto;margin-right: auto;display: block
  }

  .flp input {
    padding: 10px;
    outline: none;
    border-radius: 3px;
  }
  .m-top-25{
    margin-top: 25px
  }

}
